html {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
}
body {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    color: white;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
}

button {
    color: black;
}

#deviceMenu {
    position: absolute;
    top: 5em;
    left: 1em;
    right: 1em;
    padding: 0;
    margin: 0;
    height: calc(100% - 6em - 5em);
    width: calc(100% - 2em);
    background-color: white;
    color: black;
    z-index: 5;
}

#swiper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
}

#info {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    margin: auto;
    text-align: center;
    user-select: none;
}

#miclock {
    z-index: 10;
    position: fixed;
    left: calc(1rem + 4rem + 1rem + 4rem + 1rem);
    bottom: 0.25rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
#wakelock {
    z-index: 10;
    position: fixed;
    left: calc(1rem + 4rem + 1rem);
    bottom: 0.25rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
#reload {
    z-index: 10;
    position: fixed;
    left: 1rem;
    bottom: 0.25rem;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
#stopRadio {
    z-index: 10;
    position: fixed;
    right: calc(1rem + 4rem + .75rem + 3rem + .75rem);
    bottom: 0.25rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
}
#reenter {
    z-index: 10;
    position: fixed;
    right: calc(1rem + 4rem + .75rem);
    bottom: 0.25rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.25rem;
}
#hash {
    background:rgb(58, 58, 58);
    border: green;
    border-radius: 0.5em;
    position: fixed;
    right: 1rem;
    bottom: 0.25rem;
    height: 2rem;
    width: 4rem;
    font-size: 1rem;
    text-align:center;
    line-height:2em;
}


#audio {
    position: absolute;
    left: 0;
    top: 0.25em;
    z-index: 10;
    width: calc(100% - 0.25em);
}